
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Light background color */
    background-image: url('main.jpg'); /* Background image */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white background */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color:violet;
}

.form-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input, select, button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #4CAF50; /* Green */
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}

#book-list {
    list-style: none;
    padding: 0;
}

#book-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #e7f3fe; /* Light blue background for book items */
    border-left: 4px solid #2196F3; /* Blue left border */
    border-radius: 5px;
}

button {
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

button:hover {
    background-color: #d32f2f; /* Darker red on hover */
}

 #statistics {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
}

#statistics h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

#statistics h3 {
    font-size: 20px;
    color: #555;
    margin-top: 20px;
}

#statistics p {
    font-size: 16px;
    color: #666;
}

#statistics ul {
    list-style-type: none;
    padding: 0;
}

#statistics li {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0;
    transition: background-color 0.3s;
}

#statistics li:hover {
    background-color: #e8f0fe;
}


